<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigin.api.advertiser.repository.DataResisterReository">
    <select id="insertData" parameterType="SDRegisterRequest">
        INSERT INTO SHOPDATA(
        ADVER_ID,
        PRDT_CODE,
        PRDT_PRICE,
        PRDT_IMG,
        PRDT_URL,
        REGDATE
        )
        VALUES (
        #{adverId},
        #{prdtCode},
        #{prdtPrice},
        #{prdtImg},
        #{prdtUrl},
        now()
        )
    </select>

    <select id="findShopData" resultType="SDRegisterRequest" parameterType="hashMap">
        SELECT ADVER_ID AS adverId
        ,PRDT_CODE AS prdtCode
        ,PRDT_PRICE AS prdtPrice
        ,PRDT_IMG AS prdtImg
        ,PRDT_URL AS prdtUrl
        ,REGDATE AS regDate
        ,ARTDATe AS artDate
        FROM SHOPDATA
        WHERE ADVER_ID = #{adverId} AND PRDT_CODE = #{prdtCode}
    </select>
</mapper>